@font-face {
  font-family: 'sailecBold';
  src: url('../fonts/Sailec Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'sailecLight';
  src: url('../fonts/Sailec Light.ttf') format('truetype');
}

@font-face {
  font-family: 'sailecMedium';
  src: url('../fonts/Sailec Medium.ttf') format('truetype');
}

body {
  font-family: 'Averia Sans Libre', Arial, sans-serif;
  background-color: #E7E7E7;
  color: #000;
  margin: 0;
  padding: 0;
  text-align: center;
}

.navbar-container {
  position: fixed; /* Stick the navbar to the top */
  top: 0;
  width: 100%; /* Ensure it spans the full width */
  height: 60px;
  margin-bottom: 40px;
  padding: 0;
  background-color: #EAEAEA; /* Adjust the background if needed */
}

/* Content container */

.main-content h1 {
  font-family: 'Averia Sans Libre', sans-serif;
  font-size: 30px;
  color: #000; /* Ensure the text is visible */
  letter-spacing: 0.2em;
  margin: 272px 0 40px 0;
  max-width: 80%; /* This controls the maximum width of the h2 element */
  text-align: center; /* Center-aligns the text within the h2 element */
  margin-left: auto; /* Center the h2 element horizontally if needed */
  margin-right: auto; 
  font-weight: 400;
}

.main-content p {
  max-width: 70%;
  font-family: "sailecLight";
  font-size: 20px;
  text-align: center;
  letter-spacing: 2.5px; 
  text-align: center; /* Center-aligns the text within the h2 element */
  margin-left: auto; /* Center the h2 element horizontally if needed */
  margin-right: auto;
}

/* Distribution Rate section */
.distribution-rate-section h2 {
  font-family: 'Averia Sans Libre', sans-serif;
  font-size: 60px;
  margin: 115px 0 40px 0;
  letter-spacing: 0.2em;
  
}

/* Graph placeholder */
.graph-placeholder {
  margin: 332px 0;
  padding: 50px;
  font-family: 'Sailec', sans-serif;
}

/* Fair Launch section */
.fair-launch-section h2 {
  font-family: 'Averia Sans Libre', sans-serif;
  font-size: 60px;
  margin: 115px 0 40px 0;
  letter-spacing: 0.2em;
}
.sailec-bold {
  font-family: 'sailecBold', sans-serif;
}
/* Audit section */
.audit-section h2 {
  font-family: 'Averia Sans Libre', sans-serif;
  font-size: 60px;
  margin: 115px 0 40px 0;
  letter-spacing: 0.2em;
}

.audit-links {
  list-style-type: none;
  font-size: 20px;
  line-height: 26px;
  font-family: 'sailecLight';
  font-weight: 400; /* Ensure normal weight */
  color: black;
  letter-spacing: 0.2em; /* Letter spacing (20%) */
  text-align: center; 
  text-decoration: underline;

}

.audit-links a {
  text-decoration: underline;
  color: black;
  font-weight: 400; /* Ensure links have the same normal weight */
}




.audit-links li {
  margin: 20px 0;
}
