<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roadmap</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/roadmap.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Averia+Sans+Libre:wght@400&family=Sailec&display=swap" rel="stylesheet">
</head>
<body>
    <div class="Navroadmap">
        {% include 'navbar.html' %}
    </div>

    <div id="fade-container" class="hidden">
        <div class="container">
            <h2>ROADMAP</h2>
            <p>Satori's efforts can be broken into three broad initiatives.<br>Through incremental improvements, Satori aims at accurate decentralized prediction of our collective future.</p>
            <div class="status-boxes">
                <div class="status-box completed">
                    <div class="icon"></div>
                    <span>completed</span>
                </div>
                <div class="status-box">
                    <div class="icon"></div>
                    <span>up next</span>
                </div>
            </div>
            <div class="icons">
                <div class="icon-item">
                    <img src="{{ url_for('static', filename='images/aiengine.png') }}" alt="AI Engine">
                    <p>AI Engine</p>
                </div>
                <div class="icon-item">
                    <img src="{{ url_for('static', filename='images/earth.png') }}" alt="Decentralisation">
                    <p>Decentralisation</p>
                </div>
                <div class="icon-item">
                    <img src="{{ url_for('static', filename='images/building.png') }}" alt="Infrastructure">
                    <p>Infrastructure</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Empty container to add space at the bottom -->
<div class="empty-container"></div>
</div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
